<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      console.log(window);
      console.log(window.devicePixelRatio);
      console.log(window.screen);

      // availHeight: 667; //屏幕的高度，不包含任务栏
      // availLeft: 0;
      // availTop: 0;
      // availWidth: 375; //屏幕的宽度，不包含任务栏
      // colorDepth: 24;
      // height: 667; //屏幕的总高度
      // orientation: ScreenOrientation {angle: 0, type: "portrait-primary", onchange: null}
      // pixelDepth: 24 //颜色分辨率
      // width: 375 //屏幕的总宽度

      // for (var attr in window) {
      //   console.log(attr);
      // }
    </script>
  </body>
</html>
